fastapi
uvicorn[standard]
sqlalchemy
python-jose==3.3.0
python-dotenv
python-multipart
flask
pyjwt
python-dotenv
python-telegram-bot
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-telegram-bot==21.1.1
python-jose==3.3.0
sqlalchemy==2.0.30
python-dotenv==1.0.1
